@import '@mantine/core/styles.css';

:root {
  font-family: Arial, sans-serif;
}

body {
  background-color: #323b5f;
}

body {
  color: #eff2ff;
}

.login-button{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
}

.login-header{
  text-align: center;
  margin-top: 15%;
}
.login-box{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 10px;
  justify-self: center;
}

.alt-login{
  display: inline;
  justify-self: center;
}

.alt-button{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
  margin-top: 10px;

}
