@import '@mantine/core/styles.css';

:root {
  font-family: Arial, sans-serif;
}

body {
  background-color: #323b5f;
}

body {
  color: #eff2ff;
}

.login-button{
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 47px;
  background-color: #6f72f7;
  justify-self: center;
  display: flex;
  margin-bottom: 15px;
  transition: 300ms ease-in-out;
}
.login-button:hover {
  transform: scale(1.05);
}

.alt-button{
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: #6f72f7;
  justify-self: center;
  display: flex;
  margin-bottom: 15px;
  transition: 300ms ease-in-out;
}
.alt-button:hover{
  transform: scale(1.05);
}
.alt-alt-button{
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 35px;
  background-color: #6f72f7;
  justify-self: center;
  display: flex;
  margin-bottom: 15px;
  transition: 300ms ease-in-out;
}
.alt-alt-button:hover{
  transform: scale(1.05);
}

.input {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  background-color: #ffffff;
  justify-self: center;
  display: flex;
  margin-bottom: 15px;
  transition: 300ms ease-in-out;
}

.input:focus {
  transform: scale(1.05);
}

.login-header{
  text-align: center;
  margin-top: 15%;
}
.login-box{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 10px;
  justify-self: center;
}

.alt-login{
  display: inline;
  justify-self: center;
}


